@font-face {
    font-family: 'CaviarDreams';
    src: url(font/CaviarDreams.ttf);
}
header{
    background-color: blue;
    width: 100%;
    height: 150px;
    color: white;
    font-family: 'CaviarDreams';
    display: flex;
}
#horario{
    padding-top: 1.5%;
    padding-left: 5%;
    font-size: 500%;
}
#forma{
    padding-top: 1.5%;
    padding-left: 60%;
    font-size: 400%;
}
#image{
    height: 30%;
}